<ul>
        <li><a [routerLink] = "['/Product']">Product</a></li>
        <li><a [routerLink] = "['/Inventory']">Inventory</a></li>
     </ul>
     <router-outlet></router-outlet>

     <ul class="list">
        <li><p><b>ngOnChanges</b> − When the value of a data bound property changes, then this method is called.</p></li>
        <li><p><b>ngOnInit</b> − This is called whenever the initialization of the directive/component after Angular first displays the data-bound properties happens.</p></li>
        <li><p><b>ngDoCheck</b> − This is for the detection and to act on changes that Angular can't or won't detect on its own.</p></li>
        <li><p><b>ngAfterContentInit</b> − This is called in response after Angular projects external content into the component's view.</p></li>
        <li><p><b>ngAfterContentChecked</b> − This is called in response after Angular checks the content projected into the component.</p></li>
        <li><p><b>ngAfterViewInit</b> − This is called in response after Angular initializes the component's views and child views.</p></li>
        <li><p><b>ngAfterViewChecked</b> − This is called in response after Angular checks the component's views and child views.</p></li>
        <li><p><b>ngOnDestroy</b> − This is the cleanup phase just before Angular destroys the directive/component.</p></li>
        </ul>